.productPage {
    position: relative;
    flex-direction: row;
    display: flex;
}

.bg {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    opacity: 0.5;
}

.rightSide {
    padding: 25px;
    position: relative;
    width: 50%;
    margin-top: 0;
    border-right: 1px solid #fdb8c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.productImage {
    mix-blend-mode: multiply;
}


.price {
    font-weight: 300;
    top: 750px;
}

.leftSide {
    width: 50%;
    position: relative;
    margin-right: 50px;
    padding-left: 50px;
}

.title {
    display: flex;
    top: -0px;
    justify-content: center;
    font-weight: 250;
    text-align: center;

}

.buttons {
    position: relative;
    padding-top: 45px;
    display: flex;
    /*justify-content-manager: space-between;*/
    justify-content: space-evenly;
}

.button {
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.buyButton:hover {
    background-color: red;
}

.loveButton:hover {
    background-color: #fdb8c6;
}

.wishlistButton:hover {
    background-color: green;
}

.svg {
    height: 18px;
    fill: var(--text-color);
}


.buttonText {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
}


.descriptionTitle {
    display: flex;
    font-weight: 250;
    justify-content: center;
}

.features {
    /*border: 1px solid blue;*/
    height: 80%;
}

.featuresSubtitle {
    font-weight: 200;
}

.featuresText {
    font-weight: 200;
    font-size: 18px;
}
