.productPage {
    position: relative;
    flex-direction: row;
    display: flex;
    font-family: var(--body-font);
    color: var(--text-color);
}

.bg {
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    opacity: 0.5;
}

.rightSide {
    padding: 25px;
    position: relative;
    width: 50%;
    margin-top: 0;
    border-right: 1px solid #fdb8c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.productImage {
    mix-blend-mode: multiply;
}


.price {
    font-weight: 300;
    top: 750px;
}

.leftSide {
    width: 50%;
    position: relative;
    border-right: 1px solid rgb(255, 255, 255, 0.5);;
    padding:  0 25px
}

.title {
    font-weight: 250;
}

.buttons {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button {
    position: relative;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}


.buyButton:hover {
    background-color: var(--logo-pink);
}

.svg {
    height: 18px;
    fill: var(--text-color);
}


.buttonText {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
}


.descriptionTitle {
    display: flex;
    font-weight: 250;
    justify-content: center;
}

.features {
}

.featuresSubtitle {
    font-weight: 200;
}

.featuresText {
    font-weight: 200;
    font-size: 18px;
}


.productPrice{
    position: relative;
    font-size: 35px;
    font-weight:500;
    color: red;
    width: 50%;
    text-align: center;
}

.supPrice{
    font-size: 15px;
    top: 0px;
    position: relative;
}