.viewCart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.viewCartLeft {
    width: 70%;
    margin-right: 20px;
}

.viewCartRight {
    padding:10px;
    margin-top: 10px;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.5);
    height: 300px;
    border-radius: 15px;
}

.buyNow{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

.thankYou {
    text-align: center;
    left: 37%;
    top: 40%;
    position: relative;
}

.thankYou h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.thankYou p {
    font-size: 1.2rem;
}