.priceBefore {
    display: flex;
    text-decoration: line-through;
    position: absolute;
    right: 0px;
    left: 175px;
    top: 60px;
}

.supPriceBefore {
    font-size: 10px;
    position: relative;
    top: -1px;
}